<div id="<%= dom_id dict_body %>" class="container">
  <p>
    <%= "Name: #{dict_body.name}" %>
  </p>

  <p>
    <%= "Description: #{dict_body.description}" %>
  </p>
  
  <p>
    <%= "Price: #{dict_body.price}" %>
  </p>
</div>