<p style="color: green"><%= notice %></p>

<%= render @dict_body %>

<div>
  <%= link_to "Edit this body", edit_dict_body_path(@dict_body) %> |
  <%= link_to "Back to bodies", dict_bodies_path %>
</div>