<div id="<%= dom_id master %>">
  <p>
    <strong>Name:</strong>
    <%= master.name %>
  </p>

  <p>
    <strong>Surname:</strong>
    <%= master.surname %>
  </p>

  <p>
    <strong>About me:</strong>
    <%= master.about_me %>
  </p>

</div>
