<div id="<%= dom_id dict_neck %>">
  <p>
    <strong>Name:</strong>
    <%= dict_neck.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dict_neck.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dict_neck.price %>
  </p>

</div>
