<h1>Editing dict neck</h1>

<%= render "form", dict_neck: @dict_neck %>

<br>

<div>
  <%= link_to "Show this dict neck", @dict_neck %> |
  <%= link_to "Back to dict necks", dict_necks_path %>
</div>
