<div id="<%= dom_id dict_pickup %>">
  <p>
    <strong>Name:</strong>
    <%= dict_pickup.name %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= dict_pickup.description %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= dict_pickup.price %>
  </p>

</div>
