<h1>Editing dict pickup</h1>

<%= render "form", dict_pickup: @dict_pickup %>

<br>

<div>
  <%= link_to "Show this dict pickup", @dict_pickup %> |
  <%= link_to "Back to dict pickups", dict_pickups_path %>
</div>
